/.idea/

# tools
/DNABERT/
/6-new-12w-0/
/transformers/
/fusim-0.2.2/

# generated datas
/data/chimeric/
/data/fusim/
/data/processed_dir/
/data/transcripts/
/data/reads/
/data/kmer_*.txt

# results
/log/