absl-py==2.0.0
asttokens==2.4.0
backcall==0.2.0
bio==1.5.9
biopython @ file:///D:/bld/biopython_1655702677077/work
biothings-client==0.3.0
boto3==1.28.63
botocore==1.31.63
cachetools==5.3.1
certifi==2023.7.22
charset-normalizer==3.3.0
checksumdir==1.2.0
click==8.1.7
colorama==0.4.6
comm==0.1.4
contourpy==1.1.1
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1696677705766/work
decorator==5.1.1
executing==2.0.0
filelock==3.12.4
fonttools==4.25.0
fsspec==2023.9.2
future==0.18.3
google-auth==2.23.3
google-auth-oauthlib==1.0.0
gprofiler-official==1.0.0
grpcio==1.59.0
huggingface-hub==0.17.3
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.1.0
ipython==8.12.3
ipywidgets==8.1.1
jedi==0.19.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
jupyterlab-widgets==3.0.9
kiwisolver @ file:///C:/b/abs_88mdhvtahm/croot/kiwisolver_1672387921783/work
Markdown==3.5
MarkupSafe==2.1.3
matplotlib @ file:///D:/bld/matplotlib-suite_1660353832573/work
matplotlib-inline==0.1.6
mpmath==1.3.0
munkres==1.1.4
mygene==3.2.2
networkx==3.1
numpy @ file:///D:/bld/numpy_1653325737787/work
oauthlib==3.2.2
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1696202382185/work
pandas==2.0.3
parso==0.8.3
pickleshare==0.7.5
Pillow==10.0.1
platformdirs==3.11.0
ply==3.11
pooch==1.7.0
prompt-toolkit==3.0.39
protobuf==3.20.3
pure-eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
Pygments==2.16.1
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1690737849915/work
PyQt5==5.15.7
PyQt5-sip @ file:///C:/Windows/Temp/abs_d7gmd2jg8i/croots/recipe/pyqt-split_1659273064801/work/pyqt_sip
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-dotenv==1.0.0
pytorch-lightning==0.7.6
pytz==2023.3.post1
PyYAML==6.0.1
regex==2023.10.3
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
s3transfer==0.7.0
sacremoses==0.0.53
safetensors==0.4.0
scikit-learn==1.3.1
scipy==1.10.1
sentencepiece==0.1.91
sip @ file:///C:/Windows/Temp/abs_b8fxd17m2u/croots/recipe/sip_1659012372737/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sklearn==0.0.post10
stack-data==0.6.3
sympy==1.12
tabulate==0.9.0
tensorboard==2.14.0
tensorboard-data-server==0.7.1
threadpoolctl==3.2.0
tokenizers==0.14.1
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
torch==2.1.0
tornado @ file:///D:/bld/tornado_1656937958156/work
tqdm==4.66.1
traitlets==5.11.2
typing_extensions==4.8.0
tzdata==2023.3
urllib3==1.26.17
wcwidth==0.2.8
Werkzeug==3.0.0
widgetsnbextension==4.0.9
zipp==3.17.0
